<div class="nested-fields">
　  <%= f.label :路線名 %><br>
　  <%= f.text_field :route_name %><br>
　  <%= f.label :駅名 %><br>
　  <%= f.text_field :station %><br>
　  <%= f.label :徒歩分数 %><br>
　  <%= f.text_field :time %>分<br>
    <%= link_to_remove_association "削除", f %> 
  </div>
